.grid-container{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.grid-item{
    width: 25px;
    height: 25px;
    border: 0.5px solid  black;
    background-color: white;
    box-sizing: border-box;
}

.grid-item:hover{
    background-color: red;
}